@model EQUOR.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Product0</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipeTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipeTransport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QWaterUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QWaterUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QEnergy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QEnergy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QWaste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QWaste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoQR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoQR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbonFootprint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbonFootprint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSearch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSearch)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProduct">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
