@model IEnumerable<EQUOR.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos Afilidados a Equor</h1>

<p>
    <a asp-action="Create">Agregar nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipeTransport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QWaterUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QEnergy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QWaste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoQR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarbonFootprint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSearch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipeTransport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QWaterUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QEnergy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QWaste)
            </td>
            <td>
               
                
                        @{
                            string imageBase64 = Convert.ToBase64String(item.CodigoQR);
                            string imageSrc = string.Format("data:image/png;base64,{0}", imageBase64);
                        }
                    <img src="@imageSrc" alt="Código QR" width="150" height="150" />
               
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarbonFootprint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSearch)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.IdProduct">Details</a> |
             
            </td>
        </tr>
}
    </tbody>
</table>
